[Unit]
Description=SSTP ui4-ir2 (simple)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/sstp/ui4-ir2.env
ExecStartPre=-/sbin/ip rule del fwmark 1 table iran-bypass
ExecStartPre=-/sbin/iptables -t mangle -F OUTPUT
ExecStartPre=-/sbin/iptables -t mangle -F PREROUTING
ExecStart=/usr/sbin/sstpc --log-stderr --cert-warn --user ${SSTP_USER} --password ${SSTP_PASSWORD} 78.110.124.179:4443 usepeerdns require-mschap-v2 noauth
ExecStartPost=/bin/sleep 5
ExecStartPost=/sbin/ip route replace 192.168.88.0/24 via 192.168.90.1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
